@page "/renovacion"
@using System.ComponentModel.DataAnnotations
@using SSC_Gimnasio.Modelos
@inject SSC_Gimnasio.Repositorios.IRepositorioClientes repositorioClientes

<h1>Renovación de Membresía</h1>

<EditForm Model="@criterioBusqueda" OnValidSubmit="BuscarCliente">
    <div>
        <InputText id="buscar" @bind-Value="criterioBusqueda" placeholder="Buscar cliente por Nombre o ID" />
        <button type="submit">Buscar</button>
    </div>
</EditForm>

@if (clientesEncontrados != null && clientesEncontrados.Any())
{
    <select @onchange="OnSeleccionarCliente">
        @foreach (var cliente in clientesEncontrados)
        {
            <option value="@cliente.Id_Cliente">@cliente.Nombre</option>
        }
    </select>
}

@if (clienteSeleccionado != null)
{
    <div>
        <p>Cliente: @clienteSeleccionado.Nombre</p>
        <p>Fecha de expiración: @clienteSeleccionado.Fecha_Vencimiento.ToString("dd/MM/yyyy")</p>
    </div>

    @if (MembresiaCercaDeCaducar(clienteSeleccionado.Fecha_Vencimiento))
    {
        <div>
            <p>Seleccione un nuevo plan:</p>
            <button @onclick="() => RenovarMembresia(7)">Semanal (7 días)</button>
            <button @onclick="() => RenovarMembresia(30)">Mensual (30 días)</button>
            <button @onclick="() => RenovarMembresia(90)">Trimestral (90 días)</button>
            <button @onclick="() => RenovarMembresia(180)">Semestral (180 días)</button>
            <button @onclick="() => RenovarMembresia(365)">Anual (365 días)</button>
        </div>
    }
}

@code {
    private string criterioBusqueda { get; set; } = string.Empty; // Inicializa el modelo como un string vacío
    private List<Clientes> clientesEncontrados = new List<Clientes>();
    private Clientes clienteSeleccionado;

    private async Task BuscarCliente()
    {
        if (!string.IsNullOrWhiteSpace(criterioBusqueda))
        {
            var todosClientes = await repositorioClientes.GetAll();
            clientesEncontrados = todosClientes
                .Where(c => c.Nombre.Contains(criterioBusqueda, StringComparison.OrdinalIgnoreCase) || c.Id_Cliente.ToString() == criterioBusqueda)
                .ToList();

            clienteSeleccionado = null; // Limpiar selección previa
        }
    }

    private void OnSeleccionarCliente(ChangeEventArgs e)
    {
        var clienteId = Convert.ToInt32(e.Value);
        clienteSeleccionado = clientesEncontrados.FirstOrDefault(c => c.Id_Cliente == clienteId);
    }

    private bool MembresiaCercaDeCaducar(DateTime fechaExpiracion)
    {
        return (fechaExpiracion - DateTime.Now).Days <= 15;
    }

    private async Task RenovarMembresia(int dias)
    {
        if (clienteSeleccionado != null)
        {
            clienteSeleccionado.Fecha_Vencimiento = DateTime.Now.AddDays(dias);
            await repositorioClientes.Update(clienteSeleccionado.Id_Cliente, clienteSeleccionado);
            Console.WriteLine($"Membresía renovada por {dias} días.");
        }
    }
}
